# Using beautiful soup to obtain Binance Coin price history

## Imports

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

## Creating the soup

In [2]:
url = "https://coinmarketcap.com/currencies/binance-coin/historical-data/?start=20130428&end=20190515"
content = requests.get(url).content
soup = BeautifulSoup(content,'html.parser')
table = soup.find('table', {'class': 'table'})

In [3]:
data = [[td.text.strip() for td in tr.findChildren('td')] 
        for tr in table.findChildren('tr')]

In [4]:
df = pd.DataFrame(data)
df.drop(df.index[0], inplace=True) # skip first row
df[0] =  pd.to_datetime(df[0])
for i in range(1,7):
    df[i] = pd.to_numeric(df[i].str.replace(",","").str.replace("Unknown","")) "Missing with Unknown"
df.columns = ['Date','Open','High','Low','Close','Volume','Market Cap']
df.set_index('Date',inplace=True)
df.sort_index(inplace=True)

In [6]:
df.tail() # Checking to make sure I got what I wanted

             Open   High    Low  Close     Volume  Market Cap
Date
2019-05-10  18.80  20.01  18.47  19.60  209097573  2766772454
2019-05-11  19.60  21.94  19.08  21.05  298063616  2971665277
2019-05-12  21.08  21.47  20.33  20.83  239206084  2940727441
2019-05-13  20.83  24.53  20.75  23.81  404049210  3361533517
2019-05-14  23.89  24.48  22.94  23.63  328207185  3335471229

# Saving the dataset

In [7]:
df.to_csv('/Users/zoenawar/DSI/RNN_LSTM_Cryptocurrency_Project/datasets/bnb_daily_prices_5152019.csv')